<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShaderGraphToy.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ShaderGraphToy.LanguageSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ShaderGraphToy.Settings>
            <setting name="DefaultLanguage" serializeAs="String">
                <value>ru-RU</value>
            </setting>
        </ShaderGraphToy.Settings>
        <ShaderGraphToy.LanguageSettings>
            <setting name="DefaultLanguage" serializeAs="String">
                <value>en-US</value>
            </setting>
        </ShaderGraphToy.LanguageSettings>
    </userSettings>
</configuration>